<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <clear />
    <add name="ConnectionString" connectionString="Data Source=INPOWS0143; Initial Catalog=FileRepositoryTest; Integrated Security=false; User Id=fr; Password=fr123$; Enlist=true;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="Data Source=c2b.c0janqnyrkuj.us-west-1.rds.amazonaws.com,1399; Initial Catalog=c2b_db; Integrated Security=false; User Id=C2B_admin; Password=MalaStoreKar_0207; Enlist=true;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="LDAPConnectionString" value="LDAP://ad.alfalaval.org" />
    <add key="LDAPDomain" value="ad.alfalaval.org" />
    <add key="SenderEmailAddress" value="RepositoryTeam@alfalaval.com" />
    <add key="MailSubject" value="Mail Subject" />
    <add key="EnableSSL" value="False" />
    <add key="MailServer" value="mailhubs.alfalaval.org" />
    <add key="MailPort" value="25" />
    <add key="MailServerUsername" value="" />
    <add key="MailServerPassword" value="" />
    <add key="ApplicationUrl" value="http://localhost:51664/api/" />
    <add key="NotificationExpireRepoTemplatePath" value="C:/CurrentProjects/RepositoryApplication/Repository-Backend/FileRepositoryAPI/MailTemplates/ExpiryNotifiationMail.html" />
    <add key="NotificationTemplatePath" value="C:/CurrentProjects/RepositoryApplication/Repository-Backend/FileRepositoryAPI/MailTemplates/NotifiationMail.html" />
    <add key="RejectNotificationTemplatePath" value="C:/CurrentProjects/RepositoryApplication/Repository-Backend/FileRepositoryAPI/MailTemplates/RejectRepository.html" />
    <add key="FinalApprovalNotificationTemplatePath" value="C:/CurrentProjects/RepositoryApplication/Repository-Backend/FileRepositoryAPI/MailTemplates/FinalApproval.html" />
    <add key="StopMail" value="N" />
    <add key="AWSBucketName" value="c2ops-bucket" />
    <add key="AWSSubDirectoryInBucket" value="facility-images" />
    <add key="AWSProfileName" value="Profile Name" />
    <add key="AWSAccessKey" value="AKIA4ZVU664KDGB5DXIS" />
    <add key="AWSSecretKey" value="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" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.  
		If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.  
		It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script  
		that is bundled with the nuget package under the tools folder.    
				<add key="AWSProfileName" value="" />-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, HEAD" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Headers" value="Content-Type" />
          <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
         <add name="Access-Control-Allow-Credentials" value="true" />
        </customHeaders>
      </httpProtocol>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 45C7D95F-60AA-4FB5-90E0-49C963801D48-->