<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=INPOWS0143; Initial Catalog=FileRepository; Integrated Security=false; User Id=fr; Password=fr123$; Enlist=true;"/>
	</connectionStrings>
	<appSettings>
		<add key="SenderEmailAddress" value="RepositoryTeam@alfalaval.com" />
		<add key="MailSubject" value="Mail Subject" />
		<add key="EnableSSL" value="False"/>
		<add key="MailServer" value="mailhubs.alfalaval.org" />
		<add key="MailPort" value="25" />
		<add key="MailServerUsername" value="" />
		<add key="MailServerPassword" value=""/>
		<add key="ApplicationUrl" value="http://localhost:51661/api/"/>
		<add key="NotificationExpireRepoTemplatePath" value="C:/CurrentProjects/RepositoryApplication/Repository-Backend/FileRepositoryAPI/MailTemplates/ExpiryNotifiationMail.html"/>
		<add key="NotificationNoOfDays" value="15"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
</configuration>